body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: white;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 45px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #ffd700;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease;
  }
  
  .mobile-menu {
    display: none;
  }
  
  .mobile-menu.open {
    display: block;
  }
  
  .mobile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  .mobile-menu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .mobile-menu a:hover {
    background-color: #ddd;
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    .menu-toggle.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .menu-toggle.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .mobile-menu {
      background-color: #fff;
      position: absolute;
      top: 80px;
      right: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
  